
<h1 > About Us</h1>
  <p> Pub.join is an application that allows residents to organize and collaborate more effecitively on academic research. It also allows  faculty to observe all of the academic endeavors within their programs and provide support when needed.</p>

  <p> All in one dashboard, you can see:</p>
  <ul>
    <li> All active projects timestamped when last updated</li>
    <li> Stale projects that have lost momentum</li>
    <li>Articles or abstracts that have gone to publication or presentation</li>
    <li>Resident profiles/portfolios </li>
  </ul>
</div>